

#if ($myTriangle.isTriangle())

<p><h3>Your triangle's first sides length is $myTriangle.getSide1()</h3></p>
<p><h3>Your triangle's second sides length is $myTriangle.getSide2()</h3></p>
<p><h3>Your triangle's third sides length is $myTriangle.getSide3()</h3></p>
<p><h3>Your triangle is a(n) $myTriangle.checkType()!</h3></p>

#else

  <p><h3>Your input is not a triangle, it did not pass the rigorous triangle test!</h3></p>

#end
